body {
	background-color: #121212;
	margin: 0;
	color: #fff;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.container {
	background-color: #1D4CD8;
	padding: 3rem;
	border-radius: 1rem;
	border: 2px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 1rem;
	column-gap: 4rem;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 0;
	text-align: center;
}

label {
	font-weight: bold;
}

.character-amount-container {
	display: flex;
	align-items: center;
}

.number-input {
	font-family: 'Montserrat', sans-serif;
	width: 2rem;
}

.password-display {
	background-color: #fff;
	color: #000;
	padding: 1rem;
	border: 1px solid #333;
	height: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-all;
	border-radius: .5rem;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	grid-column: span 4;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: .5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	border-radius: 1rem;
}

.btn:hover {
	background-color: #FFFFFF33;
}

@media only screen and (max-width: 810px){
	.password-display {
		width: 550px;
	}
	.container {
		margin-left: 5px;
		margin-right: 5px;
		padding: 1rem;
	}
}

@media only screen and (max-width: 725px){
	.btn {
		grid-column: span 2;
	}
	.password-display {
		width: 350px;
	}
}

@media only screen and (max-width: 425px){
	.title {
		font-size: 22px;
	}
}

@media only screen and (max-width: 375px){
	.btn {
		grid-column: span 2;
	}
	.password-display {
		width: 300px;
	}
	.container {
		padding: 1rem;
	}
}
